BLOCKBRAIN_API_TOKEN=
BLOCKBRAIN_BOT_ID=
BLOCKBRAIN_KNOWLEDGE_BASE_ID=

BLOCKBRAIN_CHAT_MODEL=google-gemini-2.5-flash
BLOCKBRAIN_IMAGE_MODEL=google-vertex-25-flash-image

BLOCKBRAIN_TENANT_DOMAIN=your-tenant-domain

BLOCKBRAIN_USER_PROMPT=here you can put your user prompt...