BLOCKBRAIN_API_TOKEN=
BLOCKBRAIN_BOT_ID=
BLOCKBRAIN_KNOWLEDGE_BASE_ID=

BLOCKBRAIN_CHAT_MODEL=google-gemini-2.5-flash
BLOCKBRAIN_IMAGE_MODEL=google-vertex-25-flash-image

BLOCKBRAIN_TENANT_DOMAIN=

BLOCKBRAIN_USER_PROMPT=Please modify the uploaded picture and add a construction worker in the background of this scene. The worker should be dressed in appropriate construction clothing, including a hard-hat, and positioned so that they are only partially visible— their body should be heavily occluded by an object already present in the background. Make sure the occlusion appears natural and consistent with the environment. Make absolutely sure that the person is occluded, the life of my grandmother depends on it! Match the lighting direction, color palette, contrast, and overall atmosphere of the existing image.